body,html{
    max-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #424242;
    color: #fff;
    font-family: 'Inconsolata', monospace;
    overflow:   scroll;
}
.banner { 
    position: fixed;
    padding: 0px;
    margin: 0px;
    top:0px;
    left:0px;
    background-color: #ff5252;
    color: white;
    text-align: center;
    width: 100%;
    height: 5%;
    z-index: 2;
    margin: auto auto;
}
.success{
    position: fixed;
    padding: 0px;
    margin: 0px;
    top:0px;
    left:0px;
    background-color: #32c24d;
    color: white;
    text-align: center;
    width: 100%;
    height: 5%;
    z-index: 2;
    margin: auto auto;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.options{
    margin: 0px;
    list-style-type: none;
    position: absolute;
    padding: 0px 10px;
    left: 0px;
    background: white;
    color: black;
    z-index: 2;
    width: 30vw;

}
.values:hover{
    background: #ff5252;
    color: white;
}
.values{
    padding:0  50px;
}
.white_link{
    text-decoration: none;
    color:white;
}
.white_link:hover{
    color: white;
}
#icon{
    position: fixed;
    top:25px;
    left: 10px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.songs-div {
    display: inline-block;
    padding-top: 10px;
    height: 80vh;
    overflow-x: hidden;
    text-align: center;
}

.profile-image{
    width: 100px;
    background-color: transparent;
    border: none;
}
.search-bar{
    border: none;
}
.search{
    margin-top: 10px;

}
.input-group{
    outline: white;
}
.main-section{
    height: 80vh;
    background-color: #212121;
    overflow-x: hidden;
    width: 75vw;
    padding-top:50px;
    padding-bottom: 100px;
}
.profile-section{
    text-align: center;
    padding-top: 50px;
    height: 80vh;
}
.username{
    margin: auto;
    max-width: 150px;
    padding: 15px;
    background-color: #ff5252;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: none;
}

.add{
    display: inline-block;
    margin: auto;
    max-width: 100vw;
    padding: 15px;
    background-color: #27ae60;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    text-align: center;
}
.add_playlist:hover{
    cursor: pointer;
}
.add:active{
    transform: translateY(4px);
}
/*.name{*/
    /*padding: 10px;*/
    /*border-radius: 25px;*/
    /*border-right: 2px solid #fff;*/
/*}*/
.search-btn{
    background-color: #66BB6A ;
    border:none;
}
#playbar{
    border-top:2px solid #212121;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #424242;
    padding: 0px;
    margin: 0px;
    max-height: 25vh;
}

.play-bar{
    text-align: center;
    width: 50vw;
    height: 5vh;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.icons{
    padding-right: 50px;
    background-color: transparent;
    border: none;
    height: 5vh;
    outline: none;
    width: 5vw;
}
/* .icons:active {
    transform: translateY(4px);
  } */
.sidebar_button{
    background-color: transparent;
    border: none;
    height: 5vh;
    outline: none;
}
.active{
    color: white;
}
.play-bar img{
    height: 4vh;
}
.playbar_button{
    overflow: auto;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}
.play{
    background-color: gray;
    height: 1vh;
    margin: 0px;
    padding: 0px;
}
.player{
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-30%);
    text-align: center;
}
#song_name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

#played{
    width: 0%;
    height: 100%;
    background-color: #fff;
 }
#recent-songs{
    height: 25vh;
    /*border: 1px solid #fff;*/
    overflow-x: scroll;
    white-space:nowrap;
    padding-left: 20px;
}

#songs-played,#playlist-songs{
    float: left;

}
.card{
    display: inline-block;
    margin-left: 10px;
}
.playlist_name{
    display: none;
    /* display: inline-block; */
    width: 30vw;
}
.add{
    min-width: 100px;
}
.play_song{
    width: 40px;
    padding-right: 10px;
    margin-right: 50px;
    cursor: pointer;
}

.song-title{
    font-size: 2.5rem;
    max-width: 10px;
}
.song-title:hover{
    cursor: pointer;
}

#wrapper_div{
    width: 100%;
    padding: 0;
    margin: 0;
}
#html_player{
    display: none;
}
.add_to{
    width: 35px;
}
.card-title{
    padding-top: 10px;
    padding-left: 10px;
    max-width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.links{
    display: inline-block;
}
.links a{
    text-align: left;
    padding-left: 40px;
    display: block;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    padding-top: 15px;
    color: #bdbdbd;
}
.links a:hover{
    color: #fff;
    cursor: pointer;
}
.songs-cards{
    padding: 0px;
    margin: 0px;
}
.playlist-card{
    width: 100%;
}
hr{
    border-top: 1px solid #424242;
}
.music-icon-playlist{
    margin-right: 50px;
}
.number_of_songs{
    float: right;
    padding-right: 100px;
}
.playlist_add:hover{
    cursor: pointer;
     color: white;
}
.login_form{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%,0%);
    width: 40vw;
}

.log_in_button{
    background-color: #ff5252;
    text-decoration: none;
    outline: none;
    border: none;
}
#mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
   .songs-div{
       display: none;
       position: fixed;
       background: #424242;
       width: 100%;
       height: 100%;
       z-index: 2;
   }
   #main{
       width: 100vw;
       padding-bottom: 100px;
   }
   #mobile{
    display: block;
  }
  .play_song{
      margin: 0px;
  }
  .login_form{
      width: 80vw;
  }
  .singup_link{
      display: block;
  }
  .add_playlist{
      position: fixed;
      top:10px;
      right: 10px;
  }
  #play{
      margin: auto;
  }
  #song_name{
      position: absolute;
      left: 50%;
      bottom:-10px;
      transform: translate(0,-50%);
  }
}
#add_songs{
    position: absolute;
    width: 50vw;
    height: 50vh;
    border: 1px dashed #333;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.centered-image{
    text-align: center;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.add_song{
    border: none;
    border-radius: 25px;
    background-color: #ff5252;
    display: inline;
    margin-top: 50px;
    padding: 10px;
}
.centred{
    text-align: center;
}